
/* ====================================
 * Body resets
 * ==================================== */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 500;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 27px;
  margin-bottom: 20px;
}
h2 {
  margin-top: 20px;
  font-size: 24px;
}
h3 {
  margin-top: 24px;
  font-size: 20px;
}
h4, h5, h6 {
  margin-top: 16px;
  font-size: 16px;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviewForm {
  padding: 0 0 1em 0;
}

.reviewCover,
.reviewScore,
.reviewText {
  display: inline-block;
  vertical-align: top;
}

.reviewText {
  padding-left: 1em;
  width: 70%;
}

.reviewText h3 {
  margin: 10px 0 5px 0;
}

.reviewCover {
  padding: 0 1em 1em 1em;
}

.reviewScore {
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  width: 60px;
  height: 60px;
  padding: 12px;
  background: #fff;
  border: 2px solid red;
  color: red;
  text-align: center;
  font: 25px Arial, sans-serif;
}



/* ====================================
 * Main
 * ==================================== */

/* General
--------------------------------------- */

html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #454441;
  background-color: #fff;
  position: relative;
  margin: 0;
  padding: 0;
}

a {
  color: #037EAF;
}

hr {
  position: relative;
  margin: 40px 0;
  border: 0;
  border-top: 3px solid #d3d3d3;
}

.hidden {
  display: none;
}

#wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Header
--------------------------------------- */

#header {
  position: absolute;
  left: 0;
  right: 0;
  height: 66px;
  overflow: hidden;
  border-bottom: 1px solid #bbb;
}

/* Main content area
--------------------------------------- */

#main-wrapper {
  position: absolute;
  top: 66px;
  bottom: 50px;
  right: 0;
  left: 66px;
  border-bottom: 1px solid #BBB;
  border-top: 1px solid #FFF;
  background: #D7D7D7;
}




/* Footer
--------------------------------------- */

    #global-options .global-option {
      border-left: 1px solid #bbb;
      float: left;
      height: 100%;
      padding: 0 10px;
    }
      .global-option-label,
      .global-option-input {
        float: left;
      }
      .global-option-input {
        padding: 15px 0 15px 5px;
      }
      .global-option-label {
        color: #333;
        font-size: 10px;
        text-transform: uppercase;
        padding-right: 5px;
      }
        .global-option-label select,
        .global-option-label input {
          height: 100%;
        }

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background: #ddd;
  border-top: 1px solid #fff;
  overflow: hidden;
}
  #footer .footer-item {
    border-left: 1px solid #bbb;
    float: left;
    height: 100%;
    padding: 0 10px;
  }
    #footer .footer-label {

    }
    #footer .footer-value {

    }

  #account-info {
    float: left;
    height: 100%;
    width: 196px;
    border-right: 1px solid #BBB;
    padding: 0 10px;
  }
    #account-info span {
      /*line-height: 50px;*/
    }
      #account-user {
        color: #C55140;
        font-family: monospace;
        padding-left: 70px;
      }

  #account-logout {
    float: left;
    width: 66px;
    text-align: center;
    font-size: 26px;
    /*border-right: 1px solid #C5C5C5;*/
    height: 100%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  }
    #account-logout a {
      color: #888;
    }
    #account-logout a:hover {
      color: #000;
    }

  #footer .footer-label {
    color: #888;
    font-size: 11px;
    text-transform: uppercase;
  }
  #footer .footer-value {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  }
  #api-status {
    float: right;
  }
    #api-status-lights {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      width: 46px;
      font-size: 20px;
      text-align: center;
    }
    .api-status-ok #api-status-lights       { color: green; }
    .api-status-unstable #api-status-lights { color: yellow; }
    .api-status-down #api-status-lights     { color: red; }


/* Shared styles
--------------------------------------- */

#footer,
#header,
#api-response-title,
#route-fetch-button {
  background-color: #d6d6d6;
  background: linear-gradient(to bottom, #e1e1e1 0%, #cfcfcf 100%);
}


