
/* ====================================
 * Body resets
 * ==================================== */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 500;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 27px;
  margin-bottom: 20px;
}
h2 {
  margin-top: 20px;
  font-size: 24px;
}
h3 {
  margin-top: 24px;
  font-size: 20px;
}
h4, h5, h6 {
  margin-top: 16px;
  font-size: 16px;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* ====================================
 * Main
 * ==================================== */

/* General
--------------------------------------- */

html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #454441;
  background-color: #fff;
  position: relative;
  margin: 0;
  padding: 0;
}

a {
  color: #037EAF;
}

hr {
  position: relative;
  margin: 40px 0;
  border: 0;
  border-top: 3px solid #d3d3d3;
}

.hidden {
  display: none;
}

#wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Header
--------------------------------------- */

#header {
  position: absolute;
  left: 0;
  right: 0;
  height: 66px;
  overflow: hidden;
  border-bottom: 1px solid #bbb;
}
  #branding {
    height: 66px;
    float: left;
  }
    #branding-logo, #branding-text {
      line-height: 66px;
      border-right: 1px solid #bbb;
      float: left;
    }
    #branding-logo {
      display: inline-block;
      text-align: center;
      padding-right: 0;
      width: 66px;
    }
      #branding-logo img {

      }
    #branding-text {
      padding: 0 20px;
      font-size: 27px;
      font-family: "Dosis";
      color: #515151;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    }
  #global-options {
    float: right;
    height: 66px;
    line-height: 66px;
  }
    #global-options .global-option {
      border-left: 1px solid #bbb;
      float: left;
      height: 100%;
      padding: 0 10px;
    }
      .global-option-label,
      .global-option-input {
        float: left;
      }
      .global-option-input {
        padding: 15px 0 15px 5px;
      }
      .global-option-label {
        color: #333;
        font-size: 10px;
        text-transform: uppercase;
        padding-right: 5px;
      }
        .global-option-label select,
        .global-option-label input {
          height: 100%;
        }

/* Left sidebar / menu
--------------------------------------- */

#sidebar {
  position: absolute;
  top: 66px;
  bottom: 50px;
  left: 0;
  width: 66px;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #E6E6E6;
  border-right: 1px solid #bbb;
  background: #D0D0D0;
  overflow-x: none;
  overflow-y: auto;
}
  #toolbar {
  }
    #toolbar .toolbar-item {
      height: 66px;
      text-align: center;
      font-size: 24px;
      line-height: 66px;
      color: #5A5A5A;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      border-top: 1px solid #DFDFDF;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #bbb;
    }
    #toolbar .toolbar-item:first-child {
      border-top: 0;
    }
    #toolbar .toolbar-item:last-child {
      border-bottom: 0;
    }
    #toolbar .toolbar-item span {
      font-size: 14px;
      display: none;
    }


/* Main content area
--------------------------------------- */

#main-wrapper {
  position: absolute;
  top: 66px;
  bottom: 50px;
  right: 0;
  left: 66px;
  border-bottom: 1px solid #BBB;
  border-top: 1px solid #FFF;
  background: #D7D7D7;
}

  .main-section {
    position: absolute;
    top: 10px;
    bottom: 10px;
    background-color: #EDEDED;
  }
    .main-section-title {
      height: 30px;
      line-height: 30px;
      overflow: hidden;
      font-size: 12px;
      text-transform: uppercase;
      color: #FFF;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
      padding: 0 10px;
      background: #8F8F8F;
      background: linear-gradient(to bottom, #A1A1A1 0%, #777 100%);
      border: 1px solid #888;
      border-bottom: 1px solid #777;
    }
    .main-section-content {
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid #BBB;
      border-top: 1px solid #f1f1f1;
      overflow-y: auto;
      overflow-x: hidden;
    }

  #route-wrapper {
    width: 255px;
    left: 10px;
  }

    #route-container .route-method {
      width: 45px;
      padding-right: 7px;
      border-right: 1px solid #C5C5C5;
      text-align: right;
      position: absolute;
      display: inline-block;
    }
    #route-container .route-path {
      width: 100%;
      padding-left: 60px;
      height: 100%;
      display: inline-block;
    }

    #route-container {
    }
      #route-container ul {
      }
        #route-container li {
          border-bottom: 1px solid #DADADA;
          cursor: pointer;
          border-top: 1px solid #FFF;
        }
        #route-container li:first-child {
          border-top: 0;
        }
        #route-container li:last-child {
          border-bottom: 0;
        }
          #route-container span {
            display: inline-block;
            padding: 5px 0;
            line-height: 22px;
          }
          #route-container .route-method {
            color: #AAA;
            font-weight: bold;
            font-size: 11px;
          }
          #route-container .route-path {
            padding-left: 52px;
            font-family: monospace;
            font-size: 11px;
            color: #0F4557;
          }
          #route-container li:hover {
            background-color: #dedede;
            border-top-color: #ddd;
            border-bottom-color: #aaa;
          }
            #route-container li:hover .route-method {
              color: #222;
            }
            #route-container li:hover .route-path {
              color: #217C9B;
            }
          #route-container li.selected {
            background-color: #DEDEDE;
            border-bottom: 1px solid #CCC;
            border-top: 1px solid #F1F1F1;
          }
            #route-container li.selected .route-method {
              color: #217C9B;
            }
            #route-container li.selected .route-path {
              color: #217C9B;
              font-weight: bold;
            }

  #route-details {
    width: 300px;
    left: 275px;
  }

    #route-details-title {
      height: 40px;
      border-bottom: 1px solid #BBB;
      font-weight: bold;
      line-height: 38px;
      text-align: center;
      font-size: 16px;
      border-top: 1px solid #FFF;
      display: none;
    }
      #route-details-title .method {
        color: #888;
        font-size: 11px;
      }
      #route-details-title .route {
      }

    #route-params {
    }
      #route-fetch-button {
        height: 66px;
        border-top: 1px solid #BBB;
        position: absolute;
        padding: 5px;
        bottom: 0;
        left: 0;
        right: 0;
      }
        #route-fetch-button input {
          padding: 0;
          width: 100%;
          height: 53px;
          line-height: 18px;
          margin: 0;
          text-transform: uppercase;
          font-size: 23px;
          font-weight: bold;
        }
        #route-fetch-button input:focus {
          outline-width: 0;
        }

      #route-params form {
      }
      #route-params-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        overflow-y: auto;
        overflow-x: hidden;
        bottom: 66px;
      }
        #route-params li {
          border-bottom: 1px solid #AAA;
          border-top: 1px solid #EFEFEF;
          position: relative;
        }
          #route-params li .input-group {
            padding: 5px;
            margin-right: 20px;
          }
          #route-params .route-param-name {
            font-size: 11px;
            font-family: monospace;
            min-width: 75px;
            background-color: #E9F5FC;
            color: #525252;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
          }
            #route-params .route-param-name label {
              margin: 0;
            }
          #route-params .route-param-desc {
            display: block;
            display: none;
            font-size: 11px;
            color: #555;
            font-style: italic;
            width: 100%;
            padding: 2px 10px;
            line-height: 13px;
          }
          #route-params .route-param-input {
          }
            #route-params .route-param-input .form-control {

            }

          #route-params .route-param-help {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 26px;
            display: inline-block;
            line-height: 40px;
            cursor: pointer;
            bottom: 0;
            text-align: center;
          }

  /* API Response
  --------------------------------------- */

  #api-response {
    left: 585px;
    right: 10px;
  }
    #api-response.no-data #route-details-no-data {

    }

    #api-response .spinner-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
    }
      #api-response .spinner-blur {
        width: 100%;
        height: 100%;
        background: #FFF;
        opacity: 0.66;
      }

    #api-response-title {
      height: 66px;
      border-bottom: 1px solid #bbb;
      font-weight: bold;
      line-height: 66px;
      font-size: 16px;
      background-color: #DDD;
    }
      #api-response-title .api-response-status {
        width: 80px;
        height: 100%;
        font-size: 30px;
        display: block;
        text-align: center;
        border-right: 1px solid #BBB;
        float: left;
      }
        #api-response-title .api-status-ok {
          color: green;
        }
        #api-response-title .api-status-bad {
          color: red;
        }

      #api-response-title .api-response-url {
        display: block;
        height: 100%;
        float: left;
        padding-left: 10px;
      }
    #api-response-toolbar {
      height: 100%;
    }
      #api-response-toolbar .btn-group {
        margin: 10px;
      }
      #api-response-toolbar .btn {
        height: 46px;
        min-width: 100px;
      }
    #api-response-body {
      position: absolute;
      top: 66px;
      left: 0;
      right: 0;
      bottom: 160px;
      overflow: auto;
      background-color: #fdfdfd;
    }
      #api-response-body pre {
        border: 0;
        font-size: 11px;
        background-color: transparent;
      }

    #api-request {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 160px;
      border-top: 1px solid #DFDFDF;
      background-color: #ececec;
      overflow-y: auto;
    }
        #api-request li {
          border-bottom: 1px solid #DADADA;
          border-top: 1px solid #FFF;
          position: relative;
          line-height: 20px;
        }
          #api-request .api-request-key {
            width: 150px;
            padding-right: 7px;
            border-right: 1px solid #C5C5C5;
            text-align: right;
            position: absolute;
            display: inline-block;
            color: #AAA;
            font-weight: bold;
            font-size: 11px;
            text-transform: uppercase;
            height: 100%;
          }
          #api-request .api-request-val {
            width: 100%;
            padding-left: 160px;
            height: 100%;
            display: inline-block;
            font-family: monospace;
            font-size: 11px;
          }


/* Footer
--------------------------------------- */

    #global-options .global-option {
      border-left: 1px solid #bbb;
      float: left;
      height: 100%;
      padding: 0 10px;
    }
      .global-option-label,
      .global-option-input {
        float: left;
      }
      .global-option-input {
        padding: 15px 0 15px 5px;
      }
      .global-option-label {
        color: #333;
        font-size: 10px;
        text-transform: uppercase;
        padding-right: 5px;
      }
        .global-option-label select,
        .global-option-label input {
          height: 100%;
        }

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background: #ddd;
  border-top: 1px solid #fff;
  overflow: hidden;
}
  #footer .footer-item {
    border-left: 1px solid #bbb;
    float: left;
    height: 100%;
    padding: 0 10px;
  }
    #footer .footer-label {

    }
    #footer .footer-value {

    }

  #account-info {
    float: left;
    height: 100%;
    width: 196px;
    border-right: 1px solid #BBB;
    padding: 0 10px;
  }
    #account-info span {
      /*line-height: 50px;*/
    }
      #account-user {
        color: #C55140;
        font-family: monospace;
        padding-left: 70px;
      }

  #account-logout {
    float: left;
    width: 66px;
    text-align: center;
    font-size: 26px;
    /*border-right: 1px solid #C5C5C5;*/
    height: 100%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  }
    #account-logout a {
      color: #888;
    }
    #account-logout a:hover {
      color: #000;
    }

  #footer .footer-label {
    color: #888;
    font-size: 11px;
    text-transform: uppercase;
  }
  #footer .footer-value {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  }
  #api-status {
    float: right;
  }
    #api-status-lights {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      width: 46px;
      font-size: 20px;
      text-align: center;
    }
    .api-status-ok #api-status-lights       { color: green; }
    .api-status-unstable #api-status-lights { color: yellow; }
    .api-status-down #api-status-lights     { color: red; }


/* Shared styles
--------------------------------------- */

#footer,
#header,
#api-response-title,
#route-fetch-button {
  background-color: #d6d6d6;
  background: linear-gradient(to bottom, #e1e1e1 0%, #cfcfcf 100%);
}

/* Login
--------------------------------------- */

#login-wrapper {
}

  .login-bg, .login-bg:before, .login-bg:after {
    position: absolute;
    background: #bbb;
    left: 0;
    right: 0;
  }
  .login-bg:before, .login-bg:after {
    content: '';
    left: 0;
    background: #BBB;
    height: 100px;
    border-color: #333;
  }
  .login-bg {
  }
    .login-bg:before {
      right: 50%;
      margin-right: 90px;
    }
    .login-bg:after {
      left: 50%;
      margin-left: 90px;
    }

  #login-top .login-bg {
    top: 0;
    bottom: 90px;
  }
    #login-top .login-bg:before,
    #login-top .login-bg:after {
      bottom: -90px;
      border-bottom: 1px solid #777;
    }
  #login-bottom .login-bg {
    bottom: 0;
    top: 90px;
  }
    #login-bottom .login-bg:before,
    #login-bottom .login-bg:after {
      top: -90px;
      border-top: 1px solid #f1f1f1;
    }


  .cutout {
    width: 180px;
    height: 180px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -90px;
  }
    .cutout:before {
      content: '';
      position: absolute;
      bottom: 50%;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      box-shadow: 0px 300px 0px 300px #bbb;
      border-right: 1px solid #888;
      border-left: 1px solid #888;
    }

  #login-blur {
    width: 100%;
    height: 100%;
    background: #eee;
    opacity: 0;
    display: none;
  }
  #login-top,
  #login-bottom {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    /*transition: all 1.0s ease-in-out;*/
    transition: all 1.0s cubic-bezier(0.86, 0, 0.07, 1);
  }
  #login-top {
    height: 50%;
    top: -50%;
    z-index: 2;
    margin-top: -100px; /* accounts for lock overhang */
  }
  body.lock-screen #login-top {
    top: 0;
    margin-top: 0;
  }

    #login-top .cutout {
      bottom: 0;
    }
      #login-top .cutout:before {
        bottom: auto;
        top: 50%;
        box-shadow: 0px -300px 0px 300px #bbb;

        border-top: 1px solid #888;
      }

    #login-title {
      position: absolute;
      bottom: 85px;
      right: 0;
      left: 0;
      z-index: 1;
      text-align: center;
    }
      #login-title h1 {
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
        color: #444;
        font-family: "Dosis";
        font-weight: 700;
      }
        #login-title span {
          font-size: 130px;
          display: block;
          letter-spacing: -6px;
        }
        #login-title span + span {
          font-size: 39px;
          text-transform: uppercase;
          margin-top: -35px;
          letter-spacing: initial;
        }

    #icon-lock {
      text-align: center;
      font-size: 100px;
      line-height: 180px;
      height: 180px;
      width: 180px;
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: 3;
      margin-left: -90px;
      bottom: -90px;
      color: #777;
      background: #DDD;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

      border: 2px solid #fff;
      box-shadow: 0 0 0 1px #777;
      border-radius: 100%;
    }
      #icon-lock:focus {
        outline: none;
      }
      #icon-lock .icon-lock-back {
        display: none;
      }
      #icon-lock .lock-bar {
        position: absolute;
        left: 50%;
        margin-left: -25px;
        width: 50px;
        background-color: #999;
        top: 95px;
        height: 2px;
        box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.5);
        border-radius: 2px;
        opacity: 0.8;
      }
      #icon-lock .lock-bar + .lock-bar {
        margin-top: 8px;
      }
      #icon-lock .lock-bar + .lock-bar + .lock-bar {
        margin-top: 16px;
      }


  #login-bottom {
    height: 50%;
    bottom: -50%;
  }
  body.lock-screen #login-bottom {
    bottom: 0;
  }

    #login-bottom .cutout {
      top: 0;
    }
      #login-bottom .cutout:before {
        border-bottom: 1px solid #888;
      }
    #login {
      z-index: 2;
      width: 250px;
      position: absolute;
      left: 50%;
      top: 115px;
      margin-left: -125px;
      padding: 5px;
      border: 1px solid #888;
      background: #AAA;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.3);
    }

      #login-username,
      #login-password {
        position: relative;
      }
        #login .login-label {
          display: inline-block;
          width: 60px;
          height: 60px;
          line-height: 60px;
          position: absolute;
          left: 0;
          top: 0;
          margin: 0;

          font-size: 25px;
          color: #555;
          text-align: center;
          background-color: #EEE;
          border: 1px solid #CCC;
          border-right: none;
        }
        #login .login-input {
          display: inline-block;
          width: 178px;
          height: 60px;
          margin-left: 60px;
        }
        #login-username .login-label {
          border-radius: 5px 0 0 0;
          border-left: 1px solid #777;
          border-top: 1px solid #777;
        }
        #login-username input {
          border-radius: 0 5px 0 0;
          border-top: 1px solid #777;
          border-right: 1px solid #777;
        }

      #login-password {
        margin-top: -1px;
      }
        #login-password .login-label {
          border-radius: 0 0 0 5px;
          border-left: 1px solid #777;
          border-bottom: 1px solid #777;
          color: #BBA123;
        }
        #login-password input {
          border-radius: 0 0 5px 0;
          border-right: 1px solid #777;
          border-bottom: 1px solid #777;
        }

      #login-button {
        margin-top: 20px;
        text-align: center;
      }
        #login-button input {
          height: 60px;
          line-height: 60px;
          margin: 0 0 6px;
          padding: 0 30px;
          font-family: monospace;
          text-transform: lowercase;
          font-size: 20px;
        }




/* ====================================
 * Misc
 * ==================================== */

.no-select {
  user-select: none;
}

/* ====================================
 * Push button
 * ==================================== */

.btn-push {
  position: relative;
  top: 0px;
  text-decoration: none;
  font-size: 25px;
  padding: 15px 50px;
  margin: 0 10px;
  transition: All 125ms ease;
  user-select: none;
  background: #BEBEBE;
  border: 1px solid #A8A8A8;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #9B9B9B;
  color: #FFF;
  text-shadow: 1px 1px 1px #696969;
}
  .btn-push:active {
    position: relative;
    top: 5px;
    box-shadow: none !important;
    transition: All 125ms ease;
  }

/* ====================================
 * Spinner (spinkit)
 * ==================================== */

.spinner {
  text-align: center;
  font-size: 25px;
  width: 100px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

  .spinner-active .spinner > div {
    background-color: #444;
    height: 100%;
    width: 8px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner-active .spinner .spinner-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner-active .spinner .spinner-rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner-active .spinner .spinner-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner-active .spinner .spinner-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
